<!--
  HTML template by Kania
-->

<!DOCTYPE html>
<html>
  <!-- HEADER START -->
  <head>
    <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKMxUK5yzz0XnMa1FLB2GDvbrdnaEY5vQ"></script>-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/busdata.js') }}"> </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bus_route_speed.js') }}"> </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/all_bus_stop.js') }}"> </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/config.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='subwaymap/subwaymap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3/d3.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='colorbrewer/colorbrewer.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mapbox.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/markercluster.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrapcyborg.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-toggle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-datepicker3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jasny/css/jasny-bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='colorbrewer/colorbrewer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/visualization.css') }}">  
    <link rel="stylesheet" href="{{ url_for('static', filename='pace/pace.css') }}">  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 


    <!-- VISUALISATION JS -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/visualization/busroute_color.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/visualization/histogram.js') }}"></script>


    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

  </head>
  <!-- HEADER ENDS -->

  <!-- BODY START -->
  <body>


    <div id="map-canvas"></div>
    

    <div id="side-panel">
    
      <div id="main-title">
        <h2>NYC<span class="light">BUSVIZ</span></h2>
      </div>

      <div class="panel-group" id="accordion">
<!--
        <div class="panel panel-default">
          <div class="panel-heading"> 
            <h3 class="panel-title">
            <a data-toggle="collapse" data-target="#collapseActiveBuses" href="#collapseActiveBuses"> 
                <span class="glyphicon glyphicon-road" aria-hidden="true"></span>&nbsp; ACTIVE BUSES
            </a>
          </h3>
          </div>
          <div id="collapseActiveBuses" class="panel-collapse collapse in">
          <div class="panel-body">

            Average : 4324 buses<br>
            <div id="active-bus-graph"></div>
          </div>
          </div>
        </div>
        -->

<!--
        <div class="panel panel-default" style="margin-top:0;">
          <div class="panel-heading">
            <h3 class="panel-title">
            <a data-toggle="collapse" data-target="#collapseSpeed" href="#collapseSpeed" class="collapsed"> 
            <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>&nbsp; SPEED 
            </a>
            </h3>
          </div>
          <div id="collapseSpeed" class="panel-collapse collapse">
          <div class="panel-body">
            Average : 32 mph <br>
            Slowest 
              <button type="button" class="btn btn-default btn-xs">B34</button>
              <button type="button" class="btn btn-default btn-xs">M23</button>
              <button type="button" class="btn btn-default btn-xs">BX1</button>
              <br>
            Fastest 
              <button type="button" class="btn btn-default btn-xs">B34</button>
              <button type="button" class="btn btn-default btn-xs">M23</button>
              <button type="button" class="btn btn-default btn-xs">BX1</button>
              <br>
            
          </div>
          </div>
        </div>
        <div class="panel panel-default" style="margin-top:0;">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" data-target="#collapseWaitTimes" href="#collapseWaitTimes" class="collapsed"> 
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp; WAIT TIMES
              </a>
            </h3>
          </div>
          <div id="collapseWaitTimes" class="panel-collapse collapse">
          <div class="panel-body">
            Average : 43 minutes <br> 
            Longest 
              <button type="button" class="btn btn-default btn-xs">B34</button>
              <button type="button" class="btn btn-default btn-xs">M23</button>
              <button type="button" class="btn btn-default btn-xs">BX1</button>
              <br>
            Shortest 
              <button type="button" class="btn btn-default btn-xs">B34</button>
              <button type="button" class="btn btn-default btn-xs">M23</button>
              <button type="button" class="btn btn-default btn-xs">BX1</button>
          </div>
          </div>
        </div>
        -->
        <div class="panel panel-default" style="margin-top:0;">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" data-target="#collapseCustomize" href="#collapseCustomize" class="collapsed"> 
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp; CUSTOMIZE
              </a>
            </h3>
          </div>
          <div id="collapseCustomize" class="panel-collapse collapse in">
            <div class="panel-body">
              <form>
                <div class="form-group">
                <div class="form-heading">
                  <label for="busStop" style="font-weight:bold;">BUS STOP</label>
                  <a data-toggle="collapse" data-target="#collapseBusStop" href="#collapseBusStop" style="float:right;" onClick="busStopToggleClick()">
                    <input type="checkbox" checked data-toggle="toggle" data-size="mini">
                  </a>
                  </div>
                  <!--
                  <div id="collapseBusStop" class="input-group-busStop collapse in">
                    <label><input type="radio" name="busStop" value="waitTimes"> Wait Times</label> <br>
                    <label><input type="radio" name="busStop" value="busLinesCount"> Bus Lines Count</label> <br>
                    <label><input type="radio" name="busStop" value="borough"> Borough</label> <br>
                    <div id="lineLegend">
                    Faster Wait Time
                    <div id="lineLegendBox"></div>
                    <div style="text-align:right;">Slower Wait Time</div>
                    </div>
                  </div>
                  -->
                </div>

                <div class="form-group">
                <div class="form-heading">
                  <label for="busCluster" style="font-weight:bold;">BUS STOP CLUSTER</label>

                  <a data-toggle="collapse" data-target="#collapseBusCluster" href="#collapseBusCluster" onClick="busClusterToggleClick()" style="float:right;">
                    <input id="busClusterToggle" type="checkbox" checked data-toggle="toggle" data-size="mini">
                  </a>
                </div>
                  <!--
                  <div id="collapseBusCluster" class="input-group-busCluster collapse in" >
                    <label><input type="radio" name="busCluster" value="boroughs"> Boroughs</label><br>
                    <label><input type="radio" name="busCluster" value="neighborhood"> Neighborhood</label><br>
                    <label><input type="radio" name="busCluster" value="zipCodes"> Zip Codes</label><br>
                    <div id="lineLegend">
                    Less Bus
                    <div id="lineLegendBox"></div>
                    <div style="text-align:right;">More Bus</div>
                    </div>
                  </div>
                  -->
                </div>

                <div class="form-group">
                <div class="form-heading">
                  <label for="busLines" style="font-weight:bold;">BUS LINES</label>
                  <a data-toggle="collapse" data-target="#collapseBusLines" href="#collapseLines" style="float:right;" onClick="busLineToggleClick()">
                  <input id="busLinesToggle" type="checkbox" checked data-toggle="toggle" data-size="mini">
                  </a>
                </div>
                  <div id="collapseBusLines" class="input-group-busLines collapse in" >
                  <!--
                    <label><input type="radio" name="busLines" value="avgSpeed" selected> Average Speed</label><br>
                    <label><input type="radio" name="busLines" value="busStops"> No. Of Bus Stops</label><br>
                    -->
                    <div id="lineLegend">
                    Slowest (mph)
                    <div id="lineSpeedLegendBox"></div>
                    <div style="text-align:right;">Fastest (mph)</div>
                    </div>
                    </div>
                  </div>
                </div>



              </form>
            </div>
          </div>
        </div>    
        <div id="copyright">&copy; NYU CUSP BusVis Team 2015</div>
      </div>


    
    </div>

    <div id ="panelContent">
    <!--
      <a class="navbar-brand" href="#">
            <div id="title-panel">
              NYC
            <span class="light">BUSVIZ</span>
            </div>
          </a>
    -->
      <div class="input-group" style="height:20px; margin-bottom:10px;">
        <input id="searchBus" type="text" class="form-control" data-provide="typeahead" placeholder="Search for bus stop ...">
        <span class="input-group-btn">
          <button id="searchBusButton" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </span>
      </div><!-- /input-group -->

      <div id="datepicker" class="input-daterange">
        <input id="startDate" type="text" class="input-small" value="08/04/2014" />
        <span class="add-on">to</span>
        <input id="endDate"type="text" class="input-small" value="08/11/2014" />
      </div>
      <br>
<!--

      -->

    </div>


<!--
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavmenu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <div id="title-panel">
              NYC
            <span class="light">BUSVIZ</span>
            </div>
          </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">About <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Members</a></li>
          </ul>
        </div>
      </div>
    </nav>
    -->

    <!-- ON-DEMAND SIDEBAR -->
    <nav id="bus_stop_sidebar" class="navmenu navmenu-inverse navmenu-fixed-right offcanvas" role="navigation" style="padding:10px">
      <!-- D3 filled content -->
      <h2>Bus Stop Name</h2>
      <h4>Bus Stop ID</h4>
      <!-- D3 generated histogram -->
      <div id="busstop_histogram_wrapper" style="position:relative;">
        <div id="busstop_histogram_sched" style="position:absolute;top:0;right:0;width:250px;">Scheduled waiting times</div>
        <div id="busstop_histogram" style="position:absolute;top:0;left:0;width:250px;">Actual waiting times (max)</div>
      </div>
    </nav>

    <nav id="bus_line_sidebar" class="navmenu navmenu-inverse navmenu-fixed-right offcanvas" role="navigation" style="padding:10px">
      <!-- D3 filled content -->
      <h2>Bus Stop Name</h2>
      <h4>Bus Stop ID</h4>
      <!-- D3 generated histogram -->
      <div class="subway-map">

      </div>
    </nav>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mapbox.js') }}"> </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/markercluster.js') }}"> </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"> </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"> </script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-toggle.js') }}" charset="UTF-8"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/typeahead.js') }}" charset="UTF-8"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-datepicker.js') }}" charset="UTF-8"></script>
    <script src="{{ url_for('static', filename='jasny/js/jasny-bootstrap.js') }}" charset="UTF-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='pace/pace.min.js') }}"> </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/visualization/busline_viz.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"> </script>



  </body>
  <!-- BODY ENDS -->
</html>
