<!--
  HTML template by Kania
-->

<!DOCTYPE html>
<html>
  <!-- HEADER START -->
  <head>
    <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKMxUK5yzz0XnMa1FLB2GDvbrdnaEY5vQ"></script>-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/config.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3/d3.js') }}"></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.css' rel='stylesheet' />
    <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
    <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrapcyborg.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-datepicker3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jasny/css/jasny-bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/visualization.css') }}">  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 

    <!-- VISUALISATION JS -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/visualization/busroute_color.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/visualization/histogram.js') }}"></script>

    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

  </head>
  <!-- HEADER ENDS -->

  <!-- BODY START -->
  <body>


    <div id="map-canvas"></div>

    <div id ="panelContent">
      <div class="input-group" style="height:20px; margin-bottom:10px;">
        <input id="searchBus" type="text" class="form-control" data-provide="typeahead" placeholder="Search for bus stop ...">
        <span class="input-group-btn">
          <button id="searchBusButton" class="btn btn-default" type="button">Go!</button>
        </span>
      </div><!-- /input-group -->

      <div id="datepicker" class="input-daterange">
        <input id="startDate" type="text" class="input-small" value="08/04/2014" />
        <span class="add-on">to</span>
        <input id="endDate"type="text" class="input-small" value="08/11/2014" />
      </div>

    </div>



    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavmenu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <div id="title-panel">
              NYC
            <span class="light">BUSVIZ</span>
            </div>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">About <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Members</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>

    <!-- ON-DEMAND SIDEBAR -->
    <nav id="myNavmenu" class="navmenu navmenu-inverse navmenu-fixed-right offcanvas" role="navigation" style="padding:10px">
      <!-- D3 filled content -->
      <h2>Bus Stop Name</h2>
      <h4>Bus Stop ID</h4>
      <!-- D3 generated histogram -->
      <div id="busstop_histogram">Distribution of waiting times (max)<div>
    </nav>


    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/busdata.js') }}"> </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"> </script>
       <script src="{{ url_for('static', filename='bootstrap/js/typeahead.js') }}" charset="UTF-8"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-datepicker.js') }}" charset="UTF-8"></script>

    <script src="{{ url_for('static', filename='jasny/js/jasny-bootstrap.js') }}" charset="UTF-8"></script>
     <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"> </script>


  </body>
  <!-- BODY ENDS -->
</html>
